<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nwpu.mapper.JobMapper">

    <select id="getJobs" resultType="job">
        select * from job
    </select>

    <select id="getJobByLikedName" resultType="job">
        select * from job where name like "%"#{name}"%"
    </select>
    <select id="getJobByKind" resultType="job">
        select * from job where kind = #{kind}
    </select>
    <select id="getJobById" parameterType="int" resultType="job">
        select * from job where id = #{id}
    </select>

    <insert id="insert" parameterType="job">
        insert into job value (null,#{name},#{min_salary},#{max_salary},#{description},#{company},#{area},#{kind},#{limit_condition})
    </insert>
    <delete id="delete" parameterType="int">
        delete from job where id = #{id}
    </delete>
    <update id="update" parameterType="job">
        update job set name=#{name},min_salary=#{min_salary},max_salary=#{max_salary},description=#{description},#{company},area=#{area},#{kind},limit_condition=#{limit_condition}  where id = #{id}
    </update>

</mapper>