<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nwpu.mapper.UserMapper">

    <select id="getUsers" resultType="user">
        select * from user;
    </select>

    <select id="getUserByEmail" resultType="user" parameterType="string">
        select * from `user` where `email` = #{email};
    </select>

    <insert id="insert" parameterType="user">
        insert into user value (#{email},#{name},#{password})
    </insert>
    <delete id="delete" parameterType="string">
        delete from user where email = #{email}
    </delete>
    <update id="update" parameterType="user">
        update user where email = #{email} set email=#{email},name=#{name},password=#{password};
    </update>

</mapper>